@import "../functions";
@import "../variables";
@import "./_variables";
@import "../mixins";
@import "../utilities";

#compose-note {
    display: flex;
    flex-wrap: overflow;
    flex-direction: row;
    .compose-note {
      display: flex;
      flex: 6;

      .textarea-container {
        margin: 10px;
        flex: 1;
      }
    }
    .btn {
      display: block;
      margin: 5px 10px 5px 10px;
      height: 100%;
      flex: 1;
    }
    .buttons {
      flex: 1;
      flex-direction: column;
      display: flex;
      margin: 0;
      padding: 0;
    }
  }


  
  @media only screen and (min-width: $xs) and (max-width: $lg - 1) {

    #compose-note {
      flex-direction: column;
      .buttons {
        margin: 10px 5px 10px 5px;
        padding: 0px;
        flex-direction: row;
        align-items: stretch;
        .post {
          order: 2;
          margin: 0px 0px 0px 5px;
        }
        .draft {
          order: 1;
          margin: 0px 5px 0px 0px;
        }
      }
    }
  
  }
