@import "../functions";
@import "../variables";
@import "../mixins";
@import "../utilities";

@import "./variables";

div.vagabond-navbar {
    display: flex;
    order: 1;
    color: darkgray;
    background-color: $dark;
    height: 70px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    line-height: normal;
    padding: 10px;
    a {
        color: white;
    }

    #vagabondTitle {
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: white;
    }

    .logoAndTitle {
        display: flex;
    }

    svg.icon {
        margin-left: 25px;
    }

}

#container-root {
    margin: 5px;
    display: flex;
    order: 2;
}

#sidebar-left {
    flex: 1;
    padding: 10px;
}

#container-center {
    flex: 3;
    padding: 10px;
}

#sidebar-right {
    flex: 1 5;
    padding: 10px;
}

@media only screen and (min-width: $xs) and (max-width: $md - 1) {
    #root {
        display: block;
    }

    #container-root {
        margin-bottom: 96px;
        /*TODO: Less hacky method of making sure bottom navbar cant cover stuff*/
    }

    #sidebar-left {
        display: none;
    }

    #sidebar-right {
        display: none;
    }

    div.vagabond-navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        line-height: normal;
        
        .logoAndTitle {
            display: none;
        }

        .icon-bar-horizontal {
            width: 100%;
            justify-content: space-between;
        }

        svg.icon {
            margin: 0;
        }

    }
}



