@import "../functions";
@import "../variables";
@import "./variables";
@import "../mixins";
@import "../utilities";

.note {
    display: flex;
    flex-direction: row;
    margin: 16px auto 16px auto;
    border: 0px !important;
    border-style: none !important;
    background-color: white;
    width:92%;
    font-size: 15px !important;
    padding: 10px;

    .pfp-container {
        width: 64px;
    }
    .content {
        margin: 0px 10px 0px 10px;
        word-wrap: anywhere;
        width: 100%;
    }
}
