@import "../functions";
@import "../variables";
@import "../mixins";
@import "../utilities";

@import "./variables";

@import "./macro-layout";
@import "./compose-note";
@import "./note";

$bg-dark: black;

#root {
  font-family: "Kumbh Sans", sans-serif;
}

.icon-bar-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: $gray-600;
}

.icon-bar-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: $gray-600;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 5px;
  transition-property: color;
  transition: all 250ms ease-in-out;
}

.icon:hover {
  color: $primary;
  transform: scale(1.1);
}

textarea.vagabond {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  resize: none;
  overflow: scroll;
  border: none;
  outline: none;
}

.vagabond-tile {
  border-radius: 15px;
  border: 1px solid $gray-500;
  padding: 5px;
}

p {
  font-size: 14pt;
}

/*Extra small, small, and medium */
